body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1a1a1a;
}

.rain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

#calculator {
  background-color: #000000;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px 40px;
  font-size: 90px;
  text-align: left;
  border: none;
  background-color: #2f2f2f;
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #303030;
  color: white;
  font-size: 36px;
  cursor: pointer;
  font-weight: 500;

  border: 1px solid #575757;

  &:hover {
    background-color: #4a4a4a;
  }

  &:active {
    transform: scale(0.95);
  }
}

.operator-btn {
  background-color: #ff9303;

  &:hover {
    background-color: #feb049;
  }

  &:active {
    transform: scale(0.95);
  }
}

.social {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #303030;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;

  border: 1px solid #575757;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #4a4a4a;
  }

  &:active {
    transform: scale(0.95);
  }
}

.rain {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #303030;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;

  border: 1px solid #575757;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #4a4a4a;
  }

  &:active {
    transform: scale(0.95);
  }
}
