body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1a1a1a;
}

#calculator {
  background-color: #000000;
  border-radius: 15px;
  max-width: 400px;
  overflow: hidden;
  box-shadow: inset 0 0 10px #000000, 0 0 20px #000000;
}

#display {
  width: 100%;
  padding: 20px 40px;
  font-size: 60px;
  text-align: left;
  border: none;
  background-color: #2f2f2f;
  color: white;
  outline: none;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #303030;
  color: white;
  font-size: 30px;
  cursor: pointer;
  font-weight: 500;

  border: none;
  box-shadow: inset 0 0 10px #444444;

  transition: all 0.4s ease;

  &:hover {
    background-color: #4a4a4a;
  }

  &:active {
    transform: scale(0.95);
  }
}

.operator-btn {
  background-color: #ff9303;
  box-shadow: inset 0 0 7px #ffd8a6;
  transition: all 0.4s ease;

  &:hover {
    background-color: #feb049;
  }

  &:active {
    transform: scale(0.95);
  }
}

.multiply {
  font-size: 17px;
  font-weight: 800;
}

.social {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #303030;
  color: white;
  font-size: 24px;
  cursor: pointer;
  font-weight: 500;

  border: none;
  box-shadow: inset 0 0 10px #444444;

  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.4s ease;
}

.social:nth-child(1) {
  &:hover {
    background-color: #24292e;
  }

  &:active {
    transform: scale(0.95);
  }
}

.social:nth-child(2) {
  &:hover {
    background-color: #0a66c2;
  }

  &:active {
    transform: scale(0.95);
  }
}
